body {
  background-color: #5d82a2;
      font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: thin;
        font-style: thin;

}

header{
border-bottom:1px solid #5d82a2;
padding: 0 0 30px;
}

.weather{
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 30px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}

.search-form-input{
  background-color: #aed0ee;
  border: none;
  border-radius: 6px;
  width: 70%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-form-button{
  background: #aed0ee;
    padding: 15px 20px;
    border: none;
    font-size: 16px;
    margin-left: 5px;
    border-radius: 6px;
color: black;
}

main{
  padding: 20px;
}

.weather-city{
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.weather-app-data{
    display: flex;
    justify-content: space-between;
}

.weather-details{
  font-size: 16px;
    color: rgba(26, 22, 44, 0.4);
    line-height: 20px;
    font-weight: 500;
}

.weather-details strong {
  color: rgb(126, 85, 221);
}

footer{
  border-bottom: 1px solid #9ba5ae;
  padding: 0 0 30px;
  text-align: center;
  font: 12px;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 300;
}