body {
  background-color: #5d82a2;
      font-family: "Montserrat", sans-serif;
        font-optical-sizing: auto;
        font-weight: weight;
        font-style: normal;

}

.weather{
  background: white;
  max-width: 600px;
  margin: 30px auto;
  padding: 20px;
  box-shadow: 0 30px 50px rgba(65, 50, 100, 0.08);
  border-radius: 15px;
}